@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSansRounded-700.eot");
  src: url("../fonts/MuseoSansRounded-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansRounded-700.woff2") format("woff2"), url("../fonts/MuseoSansRounded-700.woff") format("woff"), url("../fonts/MuseoSansRounded-700.ttf") format("truetype"), url("../fonts/MuseoSansRounded-700.svg#MuseoSansRounded-700") format("svg");
  font-weight: 600;
  font-style: normal; }
body {
  padding-top: 0px !important;
  font-size: 16px;
  font-family: "MuseoSans", sans-serif;
  color: #be7a4d; }

.right {
  float: right; }

h1 {
  font-family: "MuseoSans", serif;
  font-size: 25px; }

h3 {
  font-family: "MuseoSans", serif;
  font-size: 13px; }

.container {
  width: 1178px; }

.logo {
  width: 186px;
  height: 79px;
  margin-left: 30px;
  background-size: 100%;
  -webkit-background-size: 100%;
  vertical-align: middle;
  text-indent: -9999px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (-o-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
    .logo {
      background-image: url("../img/logo.png"); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .logo {
      background-image: url("../img/2x/logo.png"); } }

*::-webkit-input-placeholder {
  color: #be7a4d;
  text-align: center; }

*:-moz-placeholder {
  color: #be7a4d;
  text-align: center; }

*::-moz-placeholder {
  color: #be7a4d;
  text-align: center; }

*:-ms-input-placeholder {
  color: #be7a4d;
  text-align: center; }

.main .globocont {
  text-align: center; }
.main .globo {
  width: 530px;
  height: 262px;
  margin-top: 60px;
  color: #fff;
  background-size: 530px 262px;
  -webkit-background-size: 530px 262px;
  text-align: center; }
  .main .globo p {
    padding-left: 45px;
    padding-right: 20px;
    font-size: 20px;
    margin-top: -30px;
    line-height: 180px;
    vertical-align: middle; }
    .main .globo p b {
      font-size: 14px;
      margin-top: 15px;
      display: inline-block;
      line-height: 20px !important;
      font-weight: normal; }
    .main .globo p span {
      display: inline-block;
      line-height: 150%;
      vertical-align: middle; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (-o-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
    .main .globo {
      background-image: url("../img/globo.png"); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .main .globo {
      background-image: url("../img/2x/globo.png"); } }
  .main .globo .sabias {
    display: inline-block;
    margin-top: -30px; }
    .main .globo .sabias.gracias {
      margin-left: 20px; }
.main .inf {
  margin: 25px 0;
  font-size: 18px; }
.main .mailform {
  display: inline-block;
  width: 419px;
  height: 65px;
  float: none;
  margin: 0 auto;
  padding: 12px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: 419px 65px;
  -webkit-background-size: 419px 65px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (-o-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
    .main .mailform {
      background-image: url("../img/bgmail.png"); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .main .mailform {
      background-image: url("../img/2x/bgmail.png"); } }
  .main .mailform input {
    width: 65%;
    border: 0;
    background: transparent; }
    .main .mailform input:active, .main .mailform input:focus {
      outline: none;
      text-align: center; }
  .main .mailform button {
    background-color: transparent;
    width: 33%;
    height: 41px;
    padding: 0;
    line-height: 41px;
    background-size: 100% 41px;
    -webkit-background-size: 100% 41px;
    font-size: 18px;
    color: #fff; }
    .main .mailform button:active, .main .mailform button:focus {
      outline: none; }
    .main .mailform button:hover {
      color: #fff;
      transform: scale(1.06);
      -webkit-transform: scale(1.06); }
    @media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (-o-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
      .main .mailform button {
        background-image: url("../img/btn-img.png"); } }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .main .mailform button {
        background-image: url("../img/2x/btn-img.png"); } }
.main .social {
  margin-top: 45px; }
  .main .social a {
    display: inline-block;
    margin: 0 0 8px 0px;
    width: 37px;
    height: 37px;
    line-height: 39px;
    text-align: center;
    vertical-align: middle;
    color: #be7a4d;
    background: transparent;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    -ms-border-radius: 38px;
    -o-border-radius: 38px;
    border-radius: 38px;
    font-size: 22px;
    -webkit-transition: 0.15s;
    transition: 0.15s; }
    .main .social a:hover {
      background: #be7a4d;
      color: #ffedbc; }

.header {
  margin-bottom: -75px; }

.main .container {
  height: 613px;
  background: url("../img/bg.jpg") center no-repeat;
  display: block; }

.center-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -332px; }
  .center-middle .container .petcont {
    margin-top: 75px; }
  .center-middle .container .globocont {
    margin-left: -40px; }
  .center-middle .container .pet {
    margin-left: -40px; }

.form {
  display: inline-block; }
  .form input {
    height: 35px; }
  .form input[type="text"], .form input[type="email"], .form input[type="password"], .form select, .form textarea {
    width: 100%;
    border: 0;
    background: #fff;
    padding: 2px 6px;
    margin-bottom: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  .form label {
    font-weight: normal; }

.btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all linear 0.15s;
  transition: all linear 0.15s;
  border: 0;
  height: 35px; }
  .btn.btn-default {
    background: #19cb9a;
    color: #000; }
    .btn.btn-default:hover {
      background-color: #15ab82; }
  .btn.btn-hight {
    background: #fe0501;
    color: #fff; }
    .btn.btn-hight:hover {
      background-color: #da0401; }
  .btn.btn-soft {
    background: #19cb9a;
    color: #fff; }
    .btn.btn-soft:hover {
      background-color: #15ab82; }

.form fieldset {
  border: 0;
  margin: 0;
  padding: 0; }
  .form fieldset legend {
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
    width: 100%; }
.form textarea {
  line-height: 20px;
  min-height: 78px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
.form textarea {
  padding: 10px; }
.form select {
  padding: 8px; }
.form .field {
  margin: 10px 0;
  position: relative;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
.form .field-icon .icon,
.form .field-icon a {
  position: absolute;
  top: 10px; }
.form .field-icon .icon {
  left: 10px; }
.form .field-icon a {
  right: 10px; }
.form .field-icon input[type="text"] {
  padding: 0 40px; }
.form .field-dirty-false .help-inline {
  display: none; }
.form .btn.invalid, .form .btn.unchanged {
  background-color: #ccc;
  border-bottom-color: #bfbfbf;
  color: #f1f1f1; }
  .form .btn.invalid:hover, .form .btn.unchanged:hover {
    color: #f1f1f1;
    text-decoration: none; }
.form .field-required label:after {
  content: ' *';
  color: red; }
.form .field-required .box-none:after {
  content: '';
  color: red; }
.form .field-error .help-inline {
  display: block; }
.form .field-error input,
.form .field-error textarea,
.form .field-error select {
  -webkit-box-shadow: inset -1px 1px 5px #fe504d;
  box-shadow: inset -1px 1px 5px #fe504d;
  border: solid 1px #fe6967;
  outline: none; }
  .form .field-error input:focus,
  .form .field-error textarea:focus,
  .form .field-error select:focus {
    -webkit-box-shadow: inset -1px 1px 5px #fe504d;
    box-shadow: inset -1px 1px 5px #fe504d;
    border: solid 1px #fe6967;
    outline: none; }
.form .field-error input[type="checkbox"] {
  outline: 0 !important; }
.form .field-inline > * {
  float: left; }
.form .field-inline label {
  display: inline-block;
  line-height: 38px;
  font-size: 14px;
  margin-right: 10px; }
.form .field-inline input {
  font-size: 14px;
  margin: 0 4px; }
.form .field-inline input.hour {
  padding: 0;
  text-align: center;
  width: 70px; }
.form .field-submit {
  clear: both;
  float: left;
  margin: 24px 0;
  width: 100%; }
.form .help-inline {
  border: 0;
  background: #ffa5a4;
  color: #fe0501;
  font-family: Arial;
  display: block;
  margin-top: 4px;
  padding: 8px;
  font-size: 14px; }
  .form .help-inline:before {
    background: transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffa5a4;
    bottom: 34px;
    content: '';
    height: 1px;
    left: 10px;
    position: relative;
    width: 1px; }

.fancy-checkbox {
  margin: 2px 0 0 0;
  background: #999;
  box-shadow: none;
  float: left;
  height: 13px;
  margin-right: 10px;
  width: 13px;
  position: relative;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .fancy-checkbox label {
    background-color: transparent;
    cursor: pointer;
    display: block;
    height: 13px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 13px;
    z-index: 1;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: all linear 0.4s;
    transition: all linear 0.4s; }
  .fancy-checkbox input[type="checkbox"] {
    height: 13px;
    position: relative;
    z-index: -1; }
  .fancy-checkbox input[type=checkbox] + label {
    height: 13px;
    left: 0px;
    top: 0px;
    width: 13px;
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 4px 6px; }
  .fancy-checkbox input[type=checkbox]:checked + label {
    background-color: #fe0501;
    border: none; }

.fancy-radio {
  margin: 10px 0 0; }
  .fancy-radio .wrap-radio {
    background: #fff;
    border: 2px solid #19cb9a;
    box-shadow: none;
    height: 24px;
    float: left;
    margin-right: 10px;
    position: relative;
    width: 24px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    border-radius: 22px; }
  .fancy-radio label {
    background-color: transparent;
    color: #666;
    cursor: pointer;
    display: block;
    line-height: 30px;
    float: left;
    margin-right: 15px;
    margin-left: -40px;
    padding-left: 40px;
    display: inline-block;
    position: relative; }
  .fancy-radio span {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: transparent;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    -webkit-transition: all linear 0.4s;
    transition: all linear 0.4s; }
  .fancy-radio input[type="radio"] {
    height: 24px;
    line-height: 24px;
    position: relative;
    z-index: -1; }
  .fancy-radio input[type=radio]:checked + span {
    background-color: #19cb9a; }
  .fancy-radio.sort-by {
    background: #19cb9a;
    border: 0;
    height: 37px;
    float: left;
    position: relative;
    margin-right: 0;
    width: 25%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px; }
    .fancy-radio.sort-by.thirds-label {
      width: 33.33%;
      overflow: hidden; }
    .fancy-radio.sort-by label {
      background-color: transparent;
      color: #fff;
      cursor: pointer;
      display: block;
      height: 37px;
      font-size: 14px;
      font-family: "MuseoSans", sans-serif;
      text-transform: capitalize;
      left: 0;
      line-height: 37px;
      margin: 0;
      text-align: center;
      top: 0;
      padding: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
      -webkit-transition: all linear 0.4s;
      transition: all linear 0.4s;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .fancy-radio.sort-by input[type="radio"] {
      height: 24px;
      position: relative;
      width: 24px;
      z-index: -1; }
    .fancy-radio.sort-by input[type=radio]:checked + label {
      background-color: #19cb9a;
      box-shadow: inset 0 -4px 0 #ccc;
      color: #ccc; }

.rate-star .fancy-radio {
  margin: 10px 0 0; }
  .rate-star .fancy-radio .wrap-radio {
    background: #ccc;
    border: 2px solid transparent;
    box-shadow: none;
    height: 32px;
    float: left;
    margin-right: 4px;
    position: relative;
    width: 32px; }
  .rate-star .fancy-radio label {
    background-color: transparent;
    color: #434343;
    cursor: pointer;
    display: block;
    height: 35px;
    line-height: 30px;
    margin-right: 0;
    margin-left: -44px;
    padding-left: 35px;
    display: inline-block;
    position: relative;
    z-index: 10;
    float: left; }
  .rate-star .fancy-radio span {
    background-image: url(../img/stars.png);
    background-position: -30px 0;
    background-repeat: no-repeat;
    background-size: 60px;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    -webkit-transition: all linear 0.4s;
    transition: all linear 0.4s; }
  .rate-star .fancy-radio input[type="radio"] {
    height: 24px;
    line-height: 24px;
    position: relative;
    z-index: -1; }
  .rate-star .fancy-radio input[type=radio]:checked + span {
    background-position: 2px 0;
    background-color: transparent; }
  .rate-star .fancy-radio input[type=radio] + span.rate-in {
    background-position: 2px 0;
    background-color: transparent; }

.form .help-hidden .help-inline {
  display: none !important; }

.form-row {
  margin: 20px 0;
  overflow: hidden; }

.group {
  display: inline-block; }

.touch-field {
  display: inline-block;
  float: left;
  width: auto;
  padding-bottom: 5px;
  position: relative; }
  .touch-field div, .touch-field .field {
    margin: 0 !important; }
  .touch-field .field {
    width: 100% !important; }
  .touch-field .field-required label, .touch-field .field-error label {
    background-color: #fccacc;
    border-bottom: solid 5px #feb7bb; }
    .touch-field .field-required label:after, .touch-field .field-error label:after {
      content: ' ';
      color: red; }
  .touch-field label {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #dfdfdf;
    border-bottom: solid 5px #d5d5d5;
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 30px;
    position: absolute;
    text-align: center;
    z-index: 0;
    top: 0;
    left: 0;
    font-size: 14px; }
  .touch-field .help-inline {
    margin-right: -320px;
    float: left;
    background: #fff; }
  .touch-field.from .help-inline {
    float: left;
    background: #fff;
    font-size: 13px;
    padding-left: 2px;
    position: relative;
    z-index: 10; }
    @media (max-width: 550px) {
      .touch-field.from .help-inline {
        margin-left: -40px; }
        .touch-field.from .help-inline:before {
          left: 50px; } }
  .touch-field.from label {
    max-width: 125px; }
  .touch-field.to .help-inline {
    float: left;
    background: #fff;
    font-size: 13px;
    padding-left: 2px;
    position: relative;
    z-index: 10; }
    @media (max-width: 550px) {
      .touch-field.to .help-inline {
        margin-left: -150px; }
        .touch-field.to .help-inline:before {
          left: 160px; } }
  .touch-field.to label {
    max-width: 125px; }
  .touch-field input, .touch-field select {
    height: 30px;
    z-index: 1;
    position: relative;
    color: #434343 !important;
    line-height: 30px; }
  .touch-field input[type='time'], .touch-field input[type='date'] {
    font-size: 12px !important;
    color: #434343 !important;
    padding-top: 0px;
    height: 15px;
    line-height: 15px;
    margin-top: 8px;
    outline: 0 !important;
    box-shadow: none !important; }
    @media (min-width: 400px) {
      .touch-field input[type='time'], .touch-field input[type='date'] {
        min-width: 125px; } }

.field-wrap .field-group {
  width: 100% !important; }
  .field-wrap .field-group .touch-field {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 5px; }
  .field-wrap .field-group .for-row {
    min-width: 35px; }

.form .field-wrap .field {
  margin: 0 !important;
  width: 80%; }
  .form .field-wrap .field input[type="text"] {
    width: 75%;
    box-shadow: none !important; }

.profile-user .field {
  width: 95%; }

.quote-inline {
  border-bottom: 4px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  color: #777;
  font-size: 14px;
  display: block;
  margin-top: 14px;
  padding: 10px; }
  .quote-inline:before {
    background: transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
    bottom: 38px;
    content: '';
    height: 1px;
    left: 10px;
    position: relative;
    width: 1px; }

hr {
  border: 0;
  border-top: solid 1px #ccc; }

.goin {
  animation: goin 0.3s ease-in-out;
  -webkit-animation: goin 0.3s ease-in-out;
  /* Safari and Chrome */ }

.goinup {
  animation: goinup 0.3s ease-in-out;
  -webkit-animation: goinup 0.3s ease-in-out;
  /* Safari and Chrome */ }

.gout {
  animation: gout 0.21s ease-in-out;
  -webkit-animation: gout 0.21s ease-in-out;
  /* Safari and Chrome */ }

.rotate {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear; }

.fadein, .modal-backdrop.in {
  animation: fadein 0.3s linear;
  -webkit-animation: fadein 0.3s linear;
  /* Safari and Chrome */ }

.modal-backdrop.in {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7); }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes goin {
  0% {
    transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    opacity: 0; }
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    opacity: 1; } }
@-webkit-keyframes goin {
  0% {
    transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    opacity: 0; }
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    opacity: 1; } }
@keyframes goinup {
  0% {
    transform: translate(0, -20px);
    -webkit-transform: translate(0, -20px);
    opacity: 0; }
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    opacity: 1; } }
@-webkit-keyframes goinup {
  0% {
    transform: translate(0, -20px);
    -webkit-transform: translate(0, -20px);
    opacity: 0; }
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    opacity: 1; } }
@keyframes gout {
  0% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    opacity: 1; }
  100% {
    transform: translate(0, -20px);
    -webkit-transform: translate(0, -20px);
    opacity: 0; } }
@-webkit-keyframes gout {
  0% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    opacity: 1; }
  100% {
    transform: translate(0, -20px);
    -webkit-transform: translate(0, -20px);
    opacity: 0; } }
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media (max-width: 1200px) and (max-width: 1170px) {
  .center-middle .container {
    width: 100%;
    background-size: 100%;
    -webkit-background-size: 100%; }

  .social {
    font-size: 14px; }
    .social a {
      margin: 0 -5px; } }
@media (max-width: 1200px) and (max-width: 1024px) {
  .center-middle .container {
    width: 100%;
    background-size: 103% 613px;
    -webkit-background-size: 103% 613px;
    background-position: center top; }
    .center-middle .container .globocont {
      margin-left: 0; }

  .main .globo {
    width: 100%;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%; }

  .pet {
    max-width: 517px;
    width: 130%;
    height: auto; }

  .main .container {
    height: auto;
    min-height: 613px; }

  .social span {
    width: 100%;
    display: inline-block; } }
@media (max-width: 767px) {
  .main:before {
    content: " ";
    display: block;
    position: fixed;
    width: 100%;
    height: 80%;
    top: 20%;
    background: #ffedbc; }

  .center-middle {
    position: relative;
    margin: 0; }
    .center-middle .container {
      padding: 0; }
      .center-middle .container .petcont {
        text-align: center;
        padding: 0; }
      .center-middle .container .pet {
        margin: -20px 0 0 0;
        display: inline-block;
        width: 100%;
        max-width: 400px; }
      .center-middle .container .globocont {
        padding: 0;
        text-align: center; }
        .center-middle .container .globocont .globo {
          max-width: 530px;
          display: inline-block; }
          .center-middle .container .globocont .globo p {
            line-height: 200px;
            margin-top: -15; }
          .center-middle .container .globocont .globo .sabias {
            width: 180px;
            height: auto; }
            .center-middle .container .globocont .globo .sabias.gracias {
              margin-top: -20px; }
        .center-middle .container .globocont .inf, .center-middle .container .globocont .social {
          padding: 0 15px; }
          .center-middle .container .globocont .inf br, .center-middle .container .globocont .social br {
            display: none; }
      .center-middle .container .mailform {
        width: 100%;
        max-width: 419px;
        background-size: 100% 65px;
        -webkit-background-size: 100% 65px; } }

/*# sourceMappingURL=style.css.map */
