//--- home


.form{
	display: inline-block;
   input{
   	height : 35px;
   }
   input[type="text"], input[type="email"], input[type="password"], select, textarea{
      width : 100%;
      border : 0;
      background: $white;
      padding : 2px 6px;
      margin-bottom: 15px;
      @include radius(5px);
   }
   label{
   	  font-weight: normal;
   }
}


.btn{
	 @include radius(5px);
	 @include transition(all linear 0.15s);
	 border : 0;
	 height : 35px;
     &.btn-default{
	    background: $green;
	    color : $black;
	    &:hover{
	       background-color : darken($green, 7%);
		    }

    }
    &.btn-hight{
	    background: $red;
	    color : $white;
	    &:hover{
	       background-color : darken($red, 7%);
		}

    }
    &.btn-soft{
	    background: $green;
	    color : $white;
	    &:hover{
	       background-color : darken($green, 7%);
		}

    }
} 


//----------------------------------------------------------

.form{
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    legend {
      height: 30px;
      line-height: 30px;
      margin: 10px 0;
      width: 100%;
    }
  }
  textarea {
    line-height: 20px;
    min-height: 78px;
    @include box-sizing();
  }
  textarea {
    padding: 10px;
  }
  select {
    padding: 8px;
  }
  // field-group
  .field {
    margin: 10px 0;
    position: relative;
    width: 100%;
    @include box-sizing();
  }

  .field-icon {
    .icon,
    a {
      position: absolute;
      top: 10px;
    }

    .icon {
      left: 10px;
    }

    a {
      right: 10px;
    }

    input[type="text"] {
      padding: 0 40px;
    }
  }

  .field-dirty-false{
    .help-inline {
      display : none;
    }
  }

   .btn.invalid, .btn.unchanged{
     background-color : #ccc;
     border-bottom-color : darken(#ccc, 5%);
     color : #f1f1f1;
     &:hover{
      color : #f1f1f1;
      text-decoration : none;
     }
   }
     
    .field-required{
     label {
       &:after {
        content: ' *';
        color: red;
      }
    }
    .box-none{
       &:after {
        content: '';
        color: red;
      }
    }
  }


  .field-error{

    .help-inline {
      display : block;
    }
    input,
    textarea,
    select {
      @include box-shadow(inset -1px 1px 5px lighten($red, 15%));
      border : solid 1px lighten($red, 20%);
      outline : none;
      &:focus{
          @include box-shadow(inset -1px 1px 5px lighten($red, 15%));
          border : solid 1px lighten($red, 20%);
          outline : none;
      }
    }
    input[type="checkbox"]{
      outline: 0 !important;
    }
  }

  .field-inline {
    > * {
      float: left;
    }
    label {
      display: inline-block;
      line-height: 38px;
      font-size: 14px;
      margin-right: 10px;
    }
    input {
      font-size: 14px;
      margin: 0 4px;
    }
    input.hour {
      padding: 0;
      text-align: center;
      width: 70px;
    }
  }

  .field-submit {
    clear: both;
    float: left;
    margin: 24px 0;
    width: 100%;
  }
  .help-inline {
    border: 0;
    background : lighten($red, 32%);
    color: $red;
    font-family: Arial;
    display: block;
    margin-top: 4px;
    padding: 8px;
    font-size : 14px;
    &:before {
      background: transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid lighten($red, 32%);
      bottom: 34px;
      content: '';
      height: 1px;
      left: 10px;
      position: relative;
      width: 1px;
    }
  }
}
// fancy checkboxes
.fancy-checkbox {
	margin : 2px 0 0 0;
    background: #999;
    //border: 2px solid $azul_claro;
    box-shadow: none;    
    float: left;
    height: 13px;
    margin-right: 10px;  
    width: 13px;
    position: relative;
    //width: 10%;
    @include radius(0px);    
    @include box-sizing();
    label {
      background-color: transparent;
      cursor: pointer;
      display: block;
      height: 13px;
      left: 4px;
      position: absolute;
      top: 4px;
      width: 13px;
      z-index: 1;
      @include radius(0px);
      @include transition(all linear 0.4s);
    }
    input[type="checkbox"] {
      height: 13px;
      position: relative;
      z-index: -1;
    }
    input[type=checkbox] + label {
      height: 13px;
      left: 0px;
      top: 0px;
      width: 13px;
      //background-image: url(checked.png);
      background-size: 14px;
      background-repeat: no-repeat;
      background-position: 4px 6px;      
    }
    input[type=checkbox]:checked + label {
      background-color: $red;
      border: none;
    }
}
.fancy-checkbox ~ label {
  //height: 24px;
  //line-height: 24px;
}
// fancy radio fields

// fancy radio fields
.fancy-radio {
  margin: 10px 0 0;
  .wrap-radio {
    background: $white;
    border: 2px solid $green;
    box-shadow: none;
    height: 24px;
    float: left;
    margin-right: 10px;  
    position: relative;
    width: 24px;
    @include radius(22px);    
  }
  label {
    background-color: transparent;
    color: #666;
    cursor: pointer;
    display: block;
    line-height: 30px;
    float: left;
    margin-right: 15px;
    margin-left : -40px;
    padding-left : 40px;
    display : inline-block;
    position : relative;
  }
  span {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: transparent;
    @include radius(18px);
    @include transition(all linear 0.4s);
  }
  input[type="radio"] {
    height: 24px;
    line-height: 24px;
    position: relative;
    z-index: -1;
  }
  input[type=radio]:checked + span {
    background-color: $green;
  }
  &.sort-by {
    background: $green;
    border: 0;
    height: 37px;
    float: left;  
    position: relative;
    margin-right: 0;
    width: 25%;
    @include radius(0px);

    &.thirds-label {
      width: 33.33%;
      overflow: hidden;
    }

    label {
      background-color: transparent;
      color: $white;
      cursor: pointer;
      display: block;
      height: 37px;
      font-size: 14px;
      font-family: $body_font;
      text-transform: capitalize;
      left: 0;
      line-height: 37px;
      margin: 0;
      text-align: center;
      top: 0;
      padding: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
      @include transition(all linear 0.4s);
      @include radius(0);
      @include box-sizing();
    }  
    input[type="radio"] {
      height: 24px;
      position: relative;
      width: 24px;
      z-index: -1;
    }
    input[type=radio]:checked + label {
      background-color: $green;
      box-shadow: inset 0 -4px 0 #ccc;
      color: #ccc;
    }  
  }
}

//fancy radios with stars

.rate-star{
  .fancy-radio{
    margin: 10px 0 0;
    .wrap-radio {
      background: #ccc;
      border: 2px solid transparent;
      box-shadow: none;
      height: 32px;
      float: left;
      margin-right: 4px;  
      position: relative;
      width: 32px; 
    }
    label {
      background-color: transparent;
      color: $text;
      cursor: pointer;
      display: block;
      height: 35px;
      line-height: 30px;
      margin-right: 0;
      margin-left : -44px;
      padding-left : 35px;
      display : inline-block;
      position : relative;
      z-index : 10;
      float: left;
    }
    span {
      background: {
        image: url(../img/stars.png);
        position: -30px 0;
        repeat: no-repeat;
        size: 60px;
      }    
      height: 32px;
      width: 32px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent;
      @include radius(18px);
      @include transition(all linear 0.4s);
    }
    input[type="radio"] {
      height: 24px;
      line-height: 24px;
      position: relative;
      z-index: -1;
    }
    input[type=radio]:checked + span {
      background-position: 2px 0;
      background-color : transparent;
    }
    input[type=radio] + span.rate-in {
      background-position: 2px 0;
      background-color : transparent;
    }
  }
}

// utilities to Formularies

.form .help-hidden .help-inline{
   display : none !important;
}

.form-row {
  margin: 20px 0;
  overflow: hidden;
}

.group{
  display : inline-block;
}
.touch-field{
    div, .field{
      margin : 0 !important;
    }
    .field{
      width : 100% !important;
    }
    .field-required, .field-error{
      label{
       background-color : #fccacc;
       border-bottom : solid 5px #feb7bb;
       &:after {
          content: ' ';
          color: red;
       }
      }
    }
  
    display : inline-block;
    float : left;
     width : auto;
    padding-bottom : 5px;
    position : relative;
    label{
      @include radius(5px);
      background-color : #dfdfdf;
      border-bottom : solid 5px #d5d5d5;
      display : inline-block;
      margin : 0;
      width : 100%;
      height : 30px;
      position : absolute;
      text-align : center;
      z-index : 0;
      top : 0;
      left : 0;
      font-size : 14px;


    }
    .help-inline{
      margin-right : -320px;
      float : left;
      background : #fff;
    }
    &.from{
      .help-inline{
        //margin-right : 0px;
        float : left;
        background : #fff;
        font-size : 13px;
        padding-left : 2px;
        position : relative;
        z-index : 10;
        @media (max-width: 550px){
           margin-left : -40px;
           &:before{
            left : 50px;
          }
        }
      }
      label{
        max-width : 125px;
      }
    }
    &.to{
      .help-inline{
        //margin-right : 0px;
        float : left;
        background : #fff;
        font-size : 13px;
        padding-left : 2px;
        position : relative;
        z-index : 10;
        @media (max-width: 550px){
           margin-left : -150px;
           &:before{
            left : 160px;
          }
        }
      }
      label{
        max-width : 125px;
      }
    }
    input, select{
       height : 30px;
       z-index : 1;
       position : relative;
       color: $text !important;
       line-height : 30px;
    }
    input[type='time'], input[type='date'] {
      font-size : 12px !important;
      color: $text !important;
      padding-top : 0px;
      height : 15px;
      line-height : 15px;
      margin-top : 8px;
      outline : 0 !important;
      box-shadow : none !important;

      @media (min-width: 400px) {
          min-width : 125px;
      }
    }
}

.field-wrap .field-group{
  width : 100% !important;
  .touch-field{
    @include box-sizing();
    margin-right: 5px;
  }
  .for-row{
      min-width : 35px;
  }

}

.form .field-wrap{
 .field{
    margin : 0 !important;
    width : 80%;
    input[type="text"]{
      width : 75%;
      box-shadow : none !important;
    }
  }
}

.profile-user{
  .field{
    width : 95%;
  }
}

.quote-inline {
    border: {
      bottom: 4px solid #ccc;
      left: 1px solid #ccc;
      right: 1px solid #ccc;
      top: 1px solid #ccc;
    }
    color: #777;
    font-size : 14px;
    display: block;
    margin-top: 14px;
    padding: 10px;
    &:before {
      background: transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #ccc;
      bottom: 38px;
      content: '';
      height: 1px;
      left: 10px;
      position: relative;
      width: 1px;
    }
  }

  hr{
    border : 0;
    border-top : solid 1px #ccc;

  }
