// header

.logo {

  width : 186px;
  height : 79px;
  margin-left : 30px;

  background-size: 100%;
  -webkit-background-size: 100%;

  vertical-align: middle;
  text-indent: -9999px;
    
  @include pixel-ratio("md") {
    background-image: url("../img/logo.png");
  }

  @include pixel-ratio("hd-2x") {
    background-image: url("../img/2x/logo.png");        
  }
  
}
