//--- home

*::-webkit-input-placeholder {
  color: $marron;
  text-align: center;
}
*:-moz-placeholder {
  color: $marron;
  text-align: center;
}
*::-moz-placeholder {
  color: $marron;
  text-align: center;
}
*:-ms-input-placeholder {
  color: $marron;
  text-align: center;
}

.main{
  .globocont{
    text-align: center;
  }
	.globo{
      width : 530px;
      height : 262px;
      margin-top : 60px;
      color : $white;
      p{
        padding-left: 45px;
        padding-right: 20px;
        font-size: 20px;
        line-height: 150px;
        span{
          display: inline-block;
          line-height: 150%;
        }
      }

      background-size: 530px 262px;
      -webkit-background-size: 530px 262px;

      @include pixel-ratio("md") {
        background-image: url("../img/globo.png");
      }

      @include pixel-ratio("hd-2x") {
        background-image: url("../img/2x/globo.png");
      }

      text-align: center;

      .sabias{
         display: inline-block;
        margin-top : -30px;
      }

    }
  .inf{
     margin : 25px 0;
     font-size : 18px;
  }
  .mailform{
    display: inline-block;
    width : 419px;
    height : 65px;
    float : none;
    margin : 0 auto;
    padding : 12px 20px;
    @include box-sizing();

    background-size: 419px 65px;
    -webkit-background-size: 419px 65px;

    @include pixel-ratio("md") {
      background-image: url("../img/bgmail.png");
    }

    @include pixel-ratio("hd-2x") {
      background-image: url("../img/2x/bgmail.png");
    }

    input{
      width : 65%;
      border : 0;
      background: transparent;
      &:active, &:focus{
        outline: none;
        text-align: center;
      }
    }
    button{
      background-color : transparent;
      width : 33%;
      height : 41px;
      padding : 0;
      line-height: 41px;
      background-size: 100% 41px;
      -webkit-background-size: 100% 41px;
      font-size : 18px;
      color : $white;

      &:hover{
        color : $white;
        transform: scale(1.06);
        -webkit-transform: scale(1.06);
      }

      @include pixel-ratio("md") {
        background-image: url("../img/btn-img.png");
      }

      @include pixel-ratio("hd-2x") {
        background-image: url("../img/2x/btn-img.png");
      }
    }

  }
  .social{
    margin-top : 45px;
    a{
      display: inline-block;
      margin: 0 0 8px 0px;
      width: 37px;
      height: 37px;
      line-height: 39px;
      text-align: center;
      vertical-align: middle;
      color: $marron;
      background: transparent;
     @include radius(38px);
      font-size : 22px;
      @include transition();
      &:hover{
        background: $marron;
        color : #ffedbc;
      }
    }
  }
}
