// Colours

$gray :                 #17181a;

$green :                #19cb9a;

$red:                   #fe0501;

$marron:                #be7a4d;
$naranja :              #ffb03e;

$error:             	#f00;
$error-bg: 		    	#f2dede;

$success: 		    	#390;
$success-bg: 	    	#d0e9c6;

$info: 			    	#39f;
$info-bg: 		    	#eaf5ff;

$warning: 				#ff0;
$warning-bg: 			#ffffe5;

$black:             	#000;
$white:             	#fff;
$text:              	#434343;
$title:					#000;


// Paths
$img: 		    		'img/';
$sprite: 		    	'img/sprite.png';
$fonts: 		    	'../fonts/';


	
// Typography

$body-font: 			'MuseoSans', sans-serif;
$body-font-lt: 		    'MuseoSans', sans-serif;
$title-font: 			'MuseoSans', serif;
$casual-font: 			'MuseoSans', serif;
