//--- common

.main{
  &:before{
    content : " ";
    display: block;
    position : fixed;
    width : 100%;
    height : 80%;
    top : 20%;
    background: #ffedbc;

  }

}

.center-middle{
  position : relative;
  margin : 0;

  .container{
    padding : 0;

    .petcont{
      text-align: center;
      padding : 0;
    }
    .pet{
      margin : -20px 0 0 0;
      display: inline-block;
      width : 100%;
      max-width: 400px;
    }
    .globocont{
      padding : 0;
      text-align : center;
      .globo{
        max-width: 530px;
        display: inline-block;
        p{
          line-height: 200px;
          margin-top : -15;
        }
        .sabias{
          width : 180px;
          height: auto;
          &.gracias{
            margin-top : -20px;
          }
        }
      }
      .inf, .social{
        padding: 0 15px;
        br{
          display : none;
        }
      }
    }
    .mailform{
      width : 100%;
      max-width : 419px;
      background-size: 100% 65px;
      -webkit-background-size: 100% 65px;
    }
  }
}
