.banner{

   height : 690px;
   display : block;
   width: 100%;

   text-align: center;

   line-height: 690px;

   padding-top: 30px;

   img{
    vertical-align: middle;
   }

   &.home{

     background-position: center top;
     background-size: cover;

     -webkit-background-size: cover;

   }

   &.nosotros, &.blog{
     @include bgSize();
      background-repeat: no-repeat;
   }

   &.productos, &.contacto{
    height : auto;
    line-height: initial;
    h1{
      font-size: 50px;
      font-family: $body-font;
      font-weight: normal;
    }
    padding : 160px 0 50px 0;
   }
  &.blog {
    height: 360px;
    padding : 160px 0 50px 0;
    color: $white;
    h1 {
      font-size: 50px;
      font-weight: normal;
      font-family: $body-font;
      &:after{
        display: inline-block;
        content: " ";
        width: 30px;
        height: 30px;
        background-image: url("../img/smile.png");
        background-size: 30px;
        -webkit-background-size : 30px;
        margin-left: 0px; 
      }
    }
  }
  &.blog-detail {
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    background-repeat: no-repeat;
    height: 600px;
  }

   &.detalle{
     
     position: fixed;
     height : 100%;
     width: 50%;
     right: 0;
     z-index: -1;
     background-position: center center;
     background-repeat: no-repeat;
     @include bgSize();

     .before {
       content: " ";
       position: absolute;
       top: 100%;
       width: 100%;
       left: 0;
       background-color: inherit;
     }
   }

}


.blog, .destacados, .testimonio{
  p{
    font-size: 20px;
    font-family: $body-font-lt;
  }
}


.page{
  width: 100%;
  position: relative;
  display: block;
  z-index: 1;
  background: #fff;
  @include transition();
  &.expand{
    transform: translate(-320px,0);
    -webkit-transform: translate(-320px,0);

    .banner {
      &.detalle{
        position: absolute;
        height : 100%;
        width: 50%;
        right: 0;
        z-index: -1;
        max-height: 800px;
        background-position: center center;
        background-repeat: no-repeat;
        @include bgSize();
      }
    }
  }
}



.menucat{
  list-style: none;
  padding : 50px 0 40px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  li{
    display: inline-block;
    margin: 0 20px;
    a{
      width : 100px;
      height : 124px;
      display: inline-block;
      background : url('../img/sprite.png') 0 0 no-repeat;
      background-size: auto 250px;
      -webkit-background-size: auto 250px;

      @include pixel-ratio("md") {
        background-image: url("../img/sprite.png");
      }

      @include pixel-ratio("hd-2x") {
        background-image: url("../img/2x/sprite.png");        
      }


      text-indent: -9999px;
      &:hover, &.active{
        background-position : 0 -126px;
      }
      &.cocina{
        background-position : -100px 0px;
        &:hover, &.active{
           background-position : -100px -126px;
        }
      }
      &.industria{
        background-position : -200px 0px;
        &:hover, &.active{
           background-position : -200px -126px;
        }

      }
      &.metales{
        background-position : -300px 0px;
        &:hover, &.active{
           background-position : -300px -126px;
        }
      }
      &.extras{
        background-position : -400px 0px;
        &:hover, &.active{
           background-position : -400px -126px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {

   .prod{
     a img{
       max-width: 100%;
       display: inline-block;
     }
     margin-bottom: 25px;
   }
   .testimonio{
    .col-xs-6{
      text-align: center;
      margin-bottom: 20px;
      img{
         max-width: 100%;
         display: inline-block; 
      }
     }
   }

   .banner{
    img{
      max-width: 100%;
    }
   }



}
