// header

.header{
  text-align: center;
  position: absolute;
  width: 100%;
  display: block;
  z-index: 2;
}

.logo {

  width : 186px;
  height : 79px;
  margin-top: 25px;

  display : inline-block;

  background-size: 100%;
  -webkit-background-size: 100%;

  vertical-align: middle;

  @include pixel-ratio("md") {
    background-image: url("../img/logo.png");
  }

  @include pixel-ratio("hd-2x") {
    background-image: url("../img/2x/logo.png");
  }

  a {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    outline: none;
  }

}

.menu-main{
  position: fixed;
  z-index: 0;
  width : 321px;
  right : 0;
  top: 0;
  display: block;
  padding-left : 15px;
  color : #fff;
  .menu-foot{
      padding-top: 20px;
    u{
      color : #fff;
      font-size: 20px;
    }
    a{
      margin-bottom: 10px;
      color : #fff;
    }
  }
  &:before{
    content: " ";
    position: fixed;
    width: 320px;
    height: 100%;
    right : 0;
    z-index: -1;
    display: block;
    top: 0;
    background: $morado;
  }
}

.social{
  margin-top : 25px;
  a{
    display: inline-block;
    margin: 0 10px 8px 0px;
    width: 37px;
    height: 37px;
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
    color: #4c4c4c;
    background: transparent;
   @include radius(38px);
    font-size : 22px;
    @include transition();
    &:hover{
      //background: #4c4c4c;
      color : #979797;
    }
  }
}

.footer{
  position: relative;
  z-index: 10;
  background: #f8f8f8;
  padding : 70px 0 50px 0;
  margin-top: 70px;
  .logo{
    width: 150px;
    height : 64px;
    margin-top: 20px;
  }

}

.menu-foot{
  padding : 0;
  list-style: none;
  padding-left: 30px;
  margin-top: 20px;

  u{
    text-decoration: none;
    font-family: $title-font;
    font-size: 18px;
    margin-bottom: 15px;
    display: inline-block;
  }
  li a{
    color : #4c4c4c;
    font-size: 18px;
    margin-bottom: 15px;
    display: inline-block;
    font-family: $body-font-lt;
  }
}

.form-mail{
  background-color: #def8ff;
  text-align: center;

  background-size: 100% auto;
  -webkit-background-size: 100% auto;

  background-position: center bottom;

  background-repeat: no-repeat;

  @include pixel-ratio("md") {
    background-image: url("../img/bgmail.jpg");
  }

  @include pixel-ratio("hd-2x") {
    background-image: url("../img/2x/bgmail.jpg");
  }

  padding : 20px 30px 110px 30px;

  h3{
    font-size: 26px;
    color: #4e92c6;
    font-family: $body-font;
  }
  p{
    color: #4c4c4c;
    font-size: 18px;
    font-family: $body-font-lt;
  }

  input{
    height : 40px;
    border : 0;
    padding : 0 15px;
    width: 200px;
  }
  button{
     height: 40px;
     @include radius(0);
     background-color:  #4e92c6;
     color: #fff;
  }
  p{
    padding: 10px 0;
  }

}

.navbar {
  &.header {
    @include radius(0);
    border: 0;
    z-index: 2;
  }
}

.btn-menu{
  display: block;
  position: fixed;
  top: 30px;
  right: 20px;
  width: 30px;
  height : 20px;
  z-index: 5;
  span{
    @include transition();
    width : 30px;
    height : 2px;
    background: $red;
    position: absolute;
    left: 0px;
    &.bar1{
      top : 0px;
    }
    &.bar2{
      top : 9px;
    }
    &.bar3{
      top : 18px;
    }
  }
  .menu-text {
    display: initial;
    background: none !important;
    color: $red;
    font-size: 26px;
    width: auto;
    left: auto;
    right: 0;
    font-family: $title-font;
  }
  &.navbar-expand {
    span{
      background: #fff;
      @include opacity(1);
      &.bar1{
        top : 9px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &.bar2{
        width : 0;
      }
      &.bar3{
        top : 9px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
    .menu-text {
      @include transition();
      @include opacity(0);
    }
  }
}

@media (min-width: 992px){
  .btn-menu {
    span {
      @include opacity(0);
    }
    .menu-text {
      @include opacity(1);
    }
    &.navbar-expand {
      span {
        background: #fff;
        @include opacity(1);
      }
      .menu-text {
        @include opacity(0);
      }
    }
  }
  .navbar {
    &.header{
      .container {
        @include transition();
      }
      &.navbar-expand {
        .container {
          transform: translate(-320px, 0);
          -webkit-transform: translate(-320px, 0);
        }
      }
    }
  }
}
