

.masprod{
  background: #fff;
  position: relative;
  z-index: 0;
  text-align: center;
  margin-bottom: -70px;
  padding-bottom: 70px;
  h3{
    padding : 60px 0;
    display: inline-block;
    font-size: 36px;
    font-family: $body-font;

  }
}

.page.detalles{
  background-color: #fcfcfc;
  .masprod{
    background-color: #fff;
  }
}

.detalle-cont{
  //width: 50%;
  //display: block;
  p{
      font-size: 18px;
       line-height: 160%;
       margin-bottom: 30px;
  }
  .pro-title{
    padding-top : 130px;
    img{
      margin-bottom: 60px;
    }
    h1{
      font-size: 40px;
      font-family: $body-font-lt;
      margin-bottom: 60px;
    }
  }
  .pro-cont{
    img{
      margin-bottom: 40px;
    }
  }
  .caract{
    p{
        text-align: left;

    }

  }

  .valora{
    &:after{
      display: none !important;
    }
  }

  .item{
    &:after{
      content: " ";
      height : 1px;
      background: #eaeaea;
      width: 70%;
      display: inline-block;
      margin-bottom: -30px
    }
    padding-bottom : 40px;
    text-align: center;
    margin-bottom: 30px;
    img{
      margin-bottom: 30px;
    }
    &.pro-title{
      &:after{
        display: none;
      }
    }
  }

  .post{
    padding-top : 30px;
    h4{
      font-size: 18px;
      font-family: $title-font;
      text-align: left;
      span.fecha{
        font-family: $body-font-lt;
        font-size: 14px;
      }
      span.rate{
        width: 100%;
        padding-top: 5px;
        display: inline-block;
        i.fa{
          color: #e9e9e9;
          &.bit{
            color : #ff8400;
          }
        }

      }
    }
    p{
      font-size: 16px;
            text-align: left;
    }
  }


}


.prod{
    a{
      display: inline-block;
      @include transition();
      &:hover{
        transform : scale(0.96);
        -webkit-transform : scale(0.96);
      }
    }
}


.blog, .destacados, .testimonio{
  padding-top: 60px;
  img{
    max-width: 104%;
    height : auto;
    display: block;
  }
}

.productos{
  .prod{
    margin-bottom: 20px;
  }
}

.blog {
  &.detail {
    h2, h4 {
      margin: 50px 0;
      font-size: 38px;
      color: $black;
      font-family: $body-font;
      text-align: center;
    }
    .blog-content {
      max-width: 800px;
      img {
        max-width: 100%;
      }
    }
  }
}

.testimonio{
  h2{
    margin-bottom: 30px;
  }
  a{
    position: relative;
    img{
     @include transition();
     display: block;
     max-width: initial;
    }
    .hover{
      opacity : 0;
      margin-top: -250px;

    }
    &:hover{
      .img-item{
        opacity: 0;
      }
      .hover{
        opacity: 1;

      }
    }
  }
}

.hagamos{
  p{
    width: 120% !important;
    margin-left: -10%;
    font-size: 20px !important;
  }
}

.nosotros{

  .text{
    vertical-align: middle;
    display: inline-block;
  }

  .text-cont{
    height: 460px;
        line-height: 460px;
  }

  img.titlenos{
    margin : 80px 0;
    max-width: 100%;
  }
  p{
    font-size: 18px;
    width: 80%;
    line-height: 150%;
    text-align: center;
  }
  h1{
    font-family: $body-font;
    font-size : 38px;
    line-height: 150%;
    margin-bottom: 50px;
  }


    .h1{
      font-size: 50px;
      font-family: $body-font;
      margin : 100px 0 20px 0;
    }

  .mision{
    padding-top: 100px;
    

    .imgs{
      &.izq{
        margin-right: -100px;
        //margin-left: 100px;
      }
      &.der{
        margin-left: -200px;
        float: right;
        margin-right: 60px;
      }
    }
    h3{
      font-size: 38px;
      font-family: $body-font;
      font-weight: normal;
      margin-bottom: 25px;
    }
    .info{
      margin-top: 25%;
      padding : 30px 50px;
      background-color: #50a131;
      color : #fff;
      text-align: left;
      &.der{
        float: right;
      }
      p{
        width: 100%;
        text-align: left;
        line-height: 160%;
      }
    }
  }

}

.contacto{
  a{
    color : #333;
  }
  .info{
    p{
      font-size: 20px;
      line-height: 150%;
      padding : 0 30px;

      font-family: $body-font-lt;

    }
    padding-bottom: 100px;
  }
  .info2{
    padding : 100px 0;
  }
    .imgs{
      &.izq{
        margin-right: -7%;
      }
      &.der{
        margin-left: -7%;
        margin-top: 20%;
      }
    }
}

.contacto{
  h3{
    font-size: 22px;
  }
  h3+p{
    font-size: 18px;
  }
}


