
@import 'vars';
@import 'mixins';


@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSansRounded-700.eot');
  src: url('../fonts/MuseoSansRounded-700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansRounded-700.woff2') format('woff2'),
  url('../fonts/MuseoSansRounded-700.woff') format('woff'),
  url('../fonts/MuseoSansRounded-700.ttf') format('truetype'),
  url('../fonts/MuseoSansRounded-700.svg#MuseoSansRounded-700') format('svg');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'MuseoSans-300';
  src: url('../fonts/MuseoSansRounded-300.eot');
  src: local('☺'), url('../fonts/MuseoSansRounded-300.woff') format('woff'), 
  url('../fonts/MuseoSansRounded-300.ttf') format('truetype'), 
  url('../fonts/MuseoSansRounded-300.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MuseoSans-100';
  src: url('../fonts/MuseoSansRounded-100.eot');
  src: local('☺'), url('../fonts/MuseoSansRounded-100.woff') format('woff'), 
  url('../fonts/MuseoSansRounded-100.ttf') format('truetype'), 
  url('../fonts/MuseoSansRounded-100.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}



body {
  padding-top: 0px !important;
  font-size: 16px;
  font-family: $body-font;
  color : #333;
  overflow-x: hidden;
}

.right{
  float : right;
}

.center-block{
  float: initial;
}

h1{
  font-family: $title-font;
  font-size: 25px;
}

h2{
  font-family: $title-font;
  font-size: 26px;
  margin-bottom: 15px;
  color : $red;
}

p{
  margin-bottom: 20px;
}

h3{
   font-family: $title-font;
   font-size: 20px;
}

.container{

}



@import 'home';
@import 'layout';
@import 'forms';
@import 'secundarias';
@import 'transitions';

@media (max-width: 1366px) {
  @import 'xg/common';
}

@media (max-width: 1200px) {
  @import 'lg/common';
}

@media (max-width: 991px) {
  @import 'md/common';
}

@media (max-width: 767px) {
  @import 'xs/common';
}

