@import 'vars';
@import 'mixins';

* {
    outline: none;
}

body {
    padding-top: 0 !important;
    background-color: #fff;
    font-size : 16px;
    font-family : $body-font;
    position : relative;
    & > .container-fluid{
        padding-left: 0;
        padding-right: 0;
        padding-top : 51px;
    }
}

.controls {
    width: 200px;
}

.login-form {
    width: 380px;
    padding: 30px 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -190px;
    @include radius(0px);
    @include box-shadow(0px 0px 25px rgba(0, 0, 0, 0.3));
    .form-control {
        height: 38px;
    }
}

.btn {
    font-size: 16px;
    @include radius(0px !important);
}

.fa {
    font-size: 14px;
}

.form-control {
    font-size: 16px;
    background: #f1f1f1;
    border : solid 1px #ccc;
    @include radius(0px !important);
    @include box-shadow(none !important);
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    @include bgrgba(#000,0.1);
}
.navbar-default {
    background: #53676c;
    .navbar-nav > li > a {
        color: #f1f1f1 !important;
    }
}

.navbar-brand{
    background : #3c4b4f !important;
    margin-right : 15px !important;
    height : 51px;
    line-height : 52px;
    padding : 0 15px 0 10px !important;
}

.navbar-title{

    display : none;
}

.dropdown-menu {
    font-size: 14px;
    min-width: 10px;
}

.nav-list {
    background: #f1f1f1;
    li {
        a {
            padding-top: 6px;
            padding-bottom: 6px;
            color: #333;
            @include transition-custom('color, background-color');
            &:hover {
                color: #666;
                background-color: #e9e9e9;
            }
        }
        & + li {
            a {
                border-top: solid 2px #f5f5f5;
            }
        }
    }
}

.navbar-toggle {
    padding: 4px 10px;
    color: white;
    background-color: transparent !important;
}

.checkbox-inline, .radio-inline {
    vertical-align: top;
    line-height: 120%;
    padding-top: 10px;
    padding-right: 20px;
    margin-right: 10px;
    margin-left: 0 !important;
}

.checkbox, .radio {
    line-height: 120%;
}

#relation {
    .checkbox-inline {
        width: 18%;
        min-width: 200px;
    }
}

.modal {
    text-align: center;
}
.modal-dialog {
    display: inline-block;
    text-align: initial;
    width: auto;
    min-width: 400px;
}
.modal-content {
    background-color: #f5f5f5;
    @include radius(0px);
}

.table {
    .options {
        width: 100px;
        &.images {
            width: 160px;
        }
        &.codes {
            width: 180px;
        }
    }
    .num {
        text-align: center;
        vertical-align: middle;
        width: 40px;
        padding-left: 15px;
        padding-right: 15px;
        & > .fa {
            font-size: 14px;
            color: transparent;
        }
        &.success {
            & > .fa {
                color: #5cb85c;
            }
        }
        &.danger {
            & > .fa {
                color: #d9534f;
            }
        }
        &.info {
            & > .fa {
                color: #31b0d5;
            }
        }
        &.warning {
            & > .fa {
                color: #ec971f;
            }
        }
        .btn-group {
            display: none;
            margin-left: 10px;
        }
    }
    thead th {
        text-align: center;
    }
    .date {
        min-width: 200px;
    }
    & > tbody > tr {
        & > td, & > th {
            border-bottom: 0 !important;
        }
    }
}

#items {
    &:before {
        content: " ";
        background-color: transparent !important;
    }
    &.active {
        * {
            -webkit-user-select: none;
        }
        .btn-group {
            display: inline-block;
        }
        .num {
            & > .fa {
                color: #5bc0de;
                cursor: move;
                cursor: -webkit-grabbing;
                text-shadow: 0 0 1px #fff;
            }
        }
    }
}

.sortable-ghost {
    outline: 1px dashed #999 !important;
    background-color: transparent !important;
}

.sortable-save {
    .fa {
        &:before {
            content: "\f0c7";
        }
    }
}

.edit-mode {
    .modal-content {
        height: 600px;
        max-height: 600px;
    }
}

.navbar {
    a.navbar-brand {
        color: #ccc;
        text-transform: uppercase;
    }
}

.image-parameters {
  margin-left: 10px;
  width: 450px;
  overflow: auto;
  max-height: 100%;
  padding-right: 15px;
}

.form-control {
    resize: none;
}

.modal-content {
    .form-control {
        max-height: 80px;
    }
}

.input-append {
    margin: 0 10px 0 0;
    max-width: 252px;
}

.input-group {
    .input-group {
        .form-control {
            border: 1px solid #ccc !important;
        }
    }
}
.input-group-btn > .btn {
    height: 34px;
    .fa {
        font-size: 14px;
    }
}

span.input-group-addon {
    @include radius(0px);
}

.points-content {
    position: relative;
    display: inline-block;
    & > a {
        position: absolute;
        background: #00f;
        display: block;
        width: 20px;
        height: 20px;
        z-index: 10;
        top: 50%;
        left: 50%;
        margin: -10px;
        @include radius(10px);
        &.hover {
            background: #f00;
        }
    }
}

.list-points > ul {
    list-style: none;
    padding-left: 10px;
    & > li {
        cursor: pointer;
        i {
            margin-right: 10px;
        }
        &:hover span {
            color: #f00;
        }
    }
}

.image-resampled,
.image-parameters {
    display: inline-block;
    vertical-align: top;
}
.image-resampled {
    width: 600px;
    height: 600px;
    overflow: hidden;
    background: url("img/bgpng.png");
}

.MultiFile-list {
    margin-top: 20px;
    .MultiFile-label {
        margin-bottom: 5px;
    }
}

#cycle {
    .item {
        overflow: hidden;
        position: relative;
    }
}

.filefoot {
    background: rgba(0, 0, 0, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CC000000', endColorstr='#CC000000');
    bottom: 0;
    color: #FFFFFF;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.file-gallery .file {
    width: 100px;
    height: auto;
    line-height: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px 0;
    text-align: center;
    position: relative;
    &.image, &.text {
        width: 150px;
        height: 175px;
    }
    img {
        display: block;
        margin: 0;
        vertical-align: middle;
    }
    a {
        display: inline-block;
        vertical-align: top;
        &.edit {
            margin-top: 4px;
        }
        &.clipboard {
            margin: 4px 5px 0;
            color: inherit;
        }
    }
    .highlighted {
        position: absolute;
        top: 4px;
        right: 4px;
        background-color: inherit;
        padding: 3px;
        z-index: 50;
        @include radius(0 0 0 4px);
        i {
            cursor: pointer;
        }
        .fa-star {
            color: #666;
        }
    }
}

.credentials > div {
    display: inline-block !important;
    vertical-align: top !important;
    float: none !important;
    margin-bottom: 20px;
    & > label[class] {
        min-height: 22px !important;
        input[type="checkbox"] {
            margin: 0 !important;
        }
    }
    &.col {
        min-width: 180px !important;
    }
}

.nav {
    & > li {
        &.active {
            background-color: #d0e9c6;
        }
    }
    &.nav-locales {
        li {
            background: none;
        }
    }
}

.panel {
    @include radius(0);
}

.legend {
    display: inline;
    padding: .2em .6em .3em;
    background-color: #999;
    font-size: 80%;
    color: #fff !important;
    text-align: center;
    @include radius(4px);
    text-decoration: none !important;
    & + .legend {
        margin-left: 10px;
    }
    &.legend-success {
        background-color: #5cb85c;
    }
    &.legend-info {
        background-color: #31b0d5;
    }
    &.legend-danger {
        background-color: #d9534f;
    }
    &.legend-warning {
        background-color: #ec971f;
    }
}
.panel-group .panel-heading a {
    color: #000;
    & > span:after {
	content: ": " attr(data-items) " / " attr(data-all);
    }
    & > .fa {
        &:before {
            content: "\f0d9";
        }
    }
    &.collapsed {
        & > .fa {
            &:before {
                content: "\f0d7";
            }
        }
    }
}

.no-wrap {
    white-space: nowrap;
}

.no-top {
    margin-top: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.form-group {
    padding : 0 !important;
    label{
        color : #53676c;
    }
    .panel-group {
        margin-bottom: 0 !important;
    }
    .form-control{
        &:focus, &:active{
            border: 1px solid lighten(#abc607, 6%) !important;
        }
    }
}

.form-title {
    .label {
        display: inline-block;
        padding: .4em .6em;
        font-size: 14px;
    }
}

.relations {
    h4, .h4 {
        margin-top: 20px;
    }
}

.nav-inverse {
    & > li {
        &.active {
            background: none;
        }
    }
}



.grouped {
    background: #d0e9c6;
    padding: 10px 15px;
    margin: 0;
    font-size: 20px;
    color: #333;
}

#map-canvas {
    #pac-input {
        display: inline-block;
        width: auto;
        min-width: 240px;
        margin-top: 10px;
        height: 33px;
        font-size: 12px;
    }
}

.provide-tags {
    &.form-control {
        height: auto;
    }
    input[type="text"] {
        display: inline-block;
    }
    .new-tag {
        padding: 0;
        line-height: 1;
        background: transparent;
        border: 0;
        height: 22px;
        width: 200px;
    }
    .label {
        display: inline-block;
        margin-right: 2px;
        margin-bottom: 4px;
        font-size: 14px;
    }
    .fa {
        margin-left: 5px;
        cursor: pointer;
    }
}

.last-tags {
    padding: 10px 0;
    span {
        font-size: 14px;
    }
    .fa {
        margin-left: 5px;
        cursor: pointer;
    }
}

.moduleIcons {
    .radio-icon {
        display: inline-block;
        vertical-align: top;
        padding: 0 20px 20px;
        font-weight: normal;
    }
    span, input {
        float: none;
        display: inline-block;
        position: relative;
    }
}

.moduleList {
    .list-items {
        ul {
            display: inline-block;
            list-style: none;
            background: #f1f1f1;
            padding: 0;
            margin: 0 0 20px;
            border: 1px solid #ccc;
            &:empty {
                margin: 0;
                border: 0;
                line-height: 0;
                display: block;
            }
            li {
                display: block;
                position: relative;
                padding: 8px 20px 8px 36px;
                cursor: pointer;
                & + li {
                    border: 0;
                    border-top: 1px solid #ccc;
                }
                .fa {
                    position: absolute;
                    left: 0;
                    top: 0;
                    margin: 11px 0 0 11px;
                    font-size: 14px !important;
                }
            }
        }
    }
}

.all-list-item {
    margin-bottom: 15px;
}





// Desde aqui hay que depurar

.accordion-group{
    margin-bottom: 10px;
}

.top {
    padding: 10px 0;
    background: #ffffff;
}

.hidden {
    display: none !important;
}

.btn {
    &.btn-primary{
        background: #53676c;
        &:hover, &:focus, &:active, &.active{
            background: lighten(#53676c, 7%);
        }
    }
    &.btn-success{
        background: darken(#abc607, 3%);
        border :0;
        &:hover, &:focus, &:active, &.active{
            background: #abc607;
        }
    }
    &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
        outline: none !important;
    }
}

.options.text-center {
    text-align: center !important;
}

.options.text-right {
    text-align: right !important;
}

h4 {
    color: #0088cc;
}

.group {
    padding: 5px;
    * {
        vertical-align: top;
    }
}

#meme-content {
    position: relative;
    &.loading:before {
        content: "Cargando...";
        position: absolute;
        display: block;
        background: rgba(255, 255, 255, 0.9) url("img/loading.gif") left center no-repeat;
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#E6FFFFFF', endColorstr='#E6FFFFFF');
        width: auto;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        padding: 0 10px 0 50px;
        font-weight: bold;
        @include radius(4px);
        top: 50%;
        left: 50%;
        margin-left: -75px;
        margin-top: -20px;
    }
}

.image-preview {
    padding: 20px 0;
}

.session-logo {
    margin-top: -72px;
    border-top: 0;
    @include radius(0);
    border-color: #f1f1f1;
    position: relative;
    z-index : 2;
}

tr.error td{
    border-left : solid 15px $error-bg !important;
    background : none !important;
    color : #666 !important;
}

#meme-content {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

#meme-dinamic-text {
    text-align: left;
    line-height: 102%;
    letter-spacing: -0.4px;
    position: absolute;
    display: block;
    border: 1px dashed #666;
    min-width: 120px;
    margin-top: -3px;
    margin-left: -2px;
    padding: 0;
}

.margin-top-70{
    margin-top : 70px;
}

.panel-body{
    padding : 40px;
    h3{
        color : #3c4b4f;
    }
}

//---------------------------------------------------


.menu-content{
    background : #e9e9e9;
    ul{
        background : $white;
    }
    &:before{
        content : " ";
        position : fixed;
        height : 100%;
        top : 0;
        background : #e9e9e9;
        display : inline-block;
        width : 23.404255319148934%;
        left : -4px;
        z-index : 1;
    }
}

.nav-list{
    position : relative;
    z-index : 2;
    li a{
        padding-top : 8px;
        padding-bottom : 8px;
    }
}

.menufix{
    position : fixed;
    z-index : 100;
    width : 100%;
    @include box-shadow();
}
i.minilogo{
    width : 130px;
    height : 51px;
    display : inline-block;
    background : url("#{$project-img}minilogo.png") center no-repeat;
}

tr.active, tr.active td{
    background : #f5f5f5 !important;
    color : $azul !important;
    &:hover{ 
        .toolexpan{
            top : -35px;
        }
    }
}

tr.active{
    position : relative;
    &:after{
        position : absolute;
        right : -2px;
        width : 3px;
        height : 37px;
        display : block;
        content : " ";
        background : #f5f5f5;
    }
}

.well{
    background : $white;
    //border-top : dotted 1px #ccc;
    //border-bottom : dotted 1px #ccc;
}

h3{
  color : #666;
}

.in-sec {
    animation : in-sec 1s;
    -webkit-animation : in-sec 1s;
}

.li-hover{
    @include transition-custom('transform, box-shadow', 0.2s, ease-in);
}


.loginclass{
    .expandido{
        display : block;
        position : fixed;
        height : 100%;
        width : 100%;
        background: $first-color;
        background: -moz-linear-gradient(top,  $first-color 0%, $second-color 45%, $second-color 58%, $third-color 99%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$first-color), color-stop(45%,$second-color), color-stop(58%,$second-color), color-stop(99%,$third-color)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  $first-color 0%,$second-color 45%,$second-color 58%,$third-color 99%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  $first-color 0%,$second-color 45%,$second-color 58%,$third-color 99%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  $first-color 0%,$second-color 45%,$second-color 58%,$third-color 99%); /* IE10+ */
        background: linear-gradient(to bottom,  $first-color 0%,$second-color 45%,$second-color 58%,$third-color 99%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$first-color}', endColorstr='#{$third-color}',GradientType=0 ); /* IE6-9 */
    }
    .form {
        position : fixed;
        width : 380px;
        min-height : 100px;
        border : none;
        left : 50%;
        top : 50%;
        margin-top : -120px;
        margin-left : -190px;
        text-align : center;
        @include box-sizing();
        @include radius(0px);
        @include box-shadow(0px 0px 25px rgba(0,0,0,0.3));
        h2{
            color : #999;
            line-height : 51px;
            vertical-align : top;
        }
        .minilogo{
            display : inline-block;
        }
        .form-group {
            padding: 0;
        }
    }
    .controls{
        margin-left : 0;
    }
}

.itemlist{
    position : relative;
    .toolexpan{
        position : absolute;
        top : -35px;
        @include transition(all linear 0.2s);
        width : 300px !important;
        right : 0px;
    }
    &:hover{
        .toolexpan{
            top : 2px;
        }
    }
}

.fitleft{
    margin-left : -20px !important;
    margin-top : -20px;
    position : relative;
    min-height : 100%;
    z-index : 1000;
}

.after{
    width : 1px;
    content : " ";
    position : fixed;
    height : 100%;
    top : 0;
    background : $white;
    border-right : dotted 1px #ccc;
    display : inline-block;
    width : 31.914893617021278%;
    left : -13px;
    z-index : 10;
}


.buscador{
    height : 0px;
    input[type="text"]{
        height : 30px;
        width : 100%;
        background : none;
        @include box-shadow(none);
    }
    input{
        margin-top : -10px;
    }
    button{
        position : absolute;
        right : -2px;
        top : 0;
        height : 36px;
        &:hover{
            background-color : #f1f1f1 !important;
        }
    }
}
.cbus{
  position : relative;
  width : 100%;

}

.nuevo{
    float : right;
    text-transform : uppercase;
    margin : 20px 0 20px 0;
}

.nav-list {
    & > .admin-menu{
	& > .admin-menu-label{
	    background: #f1f1f1;
	    color: darken($azul,10%);
	    text-shadow: none;
	    padding: 8px 15px;
	    display: block;
	    margin: 0 -15px;
	    text-decoration: none;
	}
	.nav-list{
	    & > li{
		& > a{
		    padding-left: 30px;
		    padding-right: 30px;
		    margin: 0 -30px;
		    color: #666;
		    font-weight: normal;
		}
		&.active > a{
		    color: $white;
		}
	    } 
	} 
    }
}

.nav > li.active a{
    color: $white;
    background: lighten(#53676c, 0%);
}


.menu-col{
   //position: relative;
   &:before{
       content: " ";
       display: block;
       width : 25%;
       position: fixed;
       height : 100%;
       background: #f1f1f1;
       left : 0;
   }
}



.popover {
    background-color: #fff;
    color: #333;
}

//----------------------------------------------------------------------------

.alert {
    @include radius(0px);
}

@keyframes in-sec
{
    0% {
        transform: scale(0.9,0.9);
        -webkit-transform: scale(0.9,0.9);
        -moz-transform: scale(0.9,0.9);
        opacity : 0;
    }
    100%{
        transform:scale(1);
        -webkit-transform:scale(1);
        opacity : 1;
    }
}

@-webkit-keyframes in-sec /* Safari and Chrome */
{
    0% {
        transform: scale(0.9,0.9);
        -webkit-transform: scale(0.9,0.9);
        -moz-transform: scale(0.9,0.9);
        opacity : 0;
    }
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        opacity : 1;
    }
}

@media (max-width: 1100px){
    .image-parameters {
        width: 380px;
    }
}

@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
    .navbar{
        .navbar-title {
            float: none;
        }
    }
}
