.banner{
	height : auto;
	line-height: initial;
	padding  : 90px 0 30px 0;
	&.productos{
		h1{
			font-size: 30px;
		}
    }
}

.nosotros .mision .info{
  padding: 20px;
}

.nosotros .mision .info{
  padding: 20px;
}